<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.khjy.zfjd.mapper.JzspMapper">


    <select id="getSp" parameterType="java.lang.String" resultType="com.khjy.zfjd.model.FzyspGlfkb">
        SELECT * FROM fzysp_glfkb
        <where>
            <if test="kssj != null and kssj != '' and jssj != null and jssj != '' ">
                scsj between to_date(#{kssj}||' 00:00:00','yyyy-MM-dd hh24:mi:ss') and to_date(#{jssj}||' 23:59:59','yyyy-MM-dd hh24:mi:ss')
            </if>
        </where>
    </select>


</mapper>